.page-layout {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  gap: 1rem;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  overflow: auto;
  max-height: 100%;
  min-width: 300px;
  max-width: 300px;
  padding: var(--wa-space-xl);
}

main {
  grid-area: main;
  max-width: round(up, 70ch, 1px);
  margin-inline: auto;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}