:root {
  --sidebar-width: 250px;
  --outline-width: 250px;
  --main-max-width: 80ch;
  --wa-link-decoration-default: color-mix(in oklab, currentColor 70%, transparent);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

blockquote {
  padding: var(--wa-space-xs);
  font-family: inherit;
  font-size: inherit;
}

.anchor {
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
  transition: opacity var(--wa-transition-normal) var(--wa-transition-easing);
}

@media (hover: hover) {

  h1:hover .anchor,
  h2:hover .anchor,
  h3:hover .anchor,
  h4:hover .anchor,
  h5:hover .anchor,
  h6:hover .anchor,
  .anchor:hover {
    opacity: 1;
    visibility: visible;
    padding: var(--wa-space-3xs);
  }
}

/* --- Layout --- */
.layout-container {
  display: flex;
  align-items: flex-start;
}

/* --- Sticky Outline --- */
.outline {
  position: sticky;
  top: 0;
  overflow-y: auto;
  flex-shrink: 0;
  transition: top var(--wa-transition-normal) ease, height var(--wa-transition-normal) ease;
  width: var(--outline-width);
  padding: var(--wa-space-xl);
}

/* --- Main --- */
.main-wrapper {
  flex-grow: 1;
  min-width: 0;
}

.main-content {
  max-width: var(--main-max-width);
  margin: 0 auto;
  padding: var(--wa-space-xl);
}

@media (max-width: 900px) {
  .outline {
    display: none;
  }
}