<!DOCTYPE html>
<html lang="en" class="wa-dark wa-cloak">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Page Title</title>
		<script src="https://kit.webawesome.com/f8a69405763a401b.js" crossorigin="anonymous"></script>
		<script src="../js/outline.js"></script>
		<link rel="stylesheet"
		      href="style.css"
		      type="text/css"
		>
		<link rel="stylesheet" href="https://ka-f.webawesome.com/kit/f8a69405763a401b/webawesome@3.0.0/styles/native.css" type="text/css">
		<link rel="stylesheet" href="https://ka-f.webawesome.com/kit/f8a69405763a401b/webawesome@3.0.0/styles/themes/default.css" type="text/css">
		<link rel="stylesheet" href="https://ka-f.webawesome.com/kit/f8a69405763a401b/webawesome@3.0.0/styles/utilities.css" type="text/css">
	</head>
	<body>
		<div class="page-layout">
			<!-- <header>header</header> -->
			<!-- <nav>Left Navigation></nav> -->
			<main id="content">
				<wa-icon name="star" label="Favorite"></wa-icon>
				<article>{{ .Content }}</article>
			</main>
			<aside>
				<nav id="outline-standard">{{ .TOC }}</nav>
			</aside>
			<!-- <footer>Footer</footer> -->
		</div>
	</body>
</html>
